flows.json
[{"id":"4cae8e79.b4dc9","type":"tab","label":"Flow 1","disabled":false,"info":""},{"id":"ad8eec7.69cb79","type":"http in","z":"4cae8e79.b4dc9","name":"Messenger verification webhook","url":"/mybot","method":"get","upload":false,"swaggerDoc":"","x":141,"y":90,"wires":[["bf11cbb6.2bcfe8","a54fb93c.ffeb4"]]},{"id":"bf11cbb6.2bcfe8","type":"debug","z":"4cae8e79.b4dc9","name":"Verify webhook","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","x":361,"y":42,"wires":[]},{"id":"d352f016.4d4088","type":"http response","z":"4cae8e79.b4dc9","name":"","statusCode":"","headers":{},"x":674,"y":115,"wires":[]},{"id":"a54fb93c.ffeb4","type":"function","z":"4cae8e79.b4dc9","name":"","func":"var mode = '';\nvar vtoken = '';\nvar challenge = '';\nif (msg.payload['hub.mode']) \n{\n    mode = msg.payload['hub.mode'];\n}\nif (msg.payload['hub.verify_token']) \n{\n    vtoken = msg.payload['hub.verify_token'];\n}\nif (msg.payload['hub.challenge']) \n{\n    challenge = msg.payload['hub.challenge'];\n}\nif ('subscribe' == mode &&\n  'EAAFh64YYlWQBAFTGL1mamspsaZA0rkGVcPtTP0mK7fyNCsgeToJGupsZANUrAtnZAPpslFDgTcdevrQBZA9SjZBhkxvKbdhcz3FscwAZByFG2ZBSQTDX4WyVGtypRJ0RI9LtaLh3SGfdNjfYOS44cLFLogT4M6kS8vsVXkBXwW8HAPd1cDdNxgc' == vtoken) {\n    msg.payload = challenge;\n}\n\nreturn msg;","outputs":1,"noerr":0,"x":413,"y":155,"wires":[["d352f016.4d4088","bf11cbb6.2bcfe8"]]},{"id":"7686ffea.cf7c","type":"http in","z":"4cae8e79.b4dc9","name":"Ловим события","url":"/mybot","method":"post","upload":false,"swaggerDoc":"","x":101,"y":614,"wires":[["4acc603e.0e747","a2d04d2c.cff3f"]]},{"id":"d52cef8e.dc0bc8","type":"http request","z":"4cae8e79.b4dc9","name":"Отдаем ответ в Messenger","method":"POST","ret":"obj","paytoqs":false,"url":"https://graph.facebook.com/v2.6/me/messages?access_token=EAAFh64YYlWQBAHUBG0hheAnuJ5FzyR462RE6m3CiXuC11sWe7GZBQrHTAwevO7dVdZBqyjBv3dq3L67qLeD3vJ62qklgeu4GKebOvUibQgCWakpxZCXDXcEQx2gnsUDsCa1Lx7phOQ3gIGjO0040XZCvZBNdriZCNumJIN3DViDZCGaFfwXZCZCHh","tls":"","proxy":"","authType":"bearer","x":2576,"y":737,"wires":[[]]},{"id":"61b0a96f.eff198","type":"function","z":"4cae8e79.b4dc9","name":"Создаем Quick reply menu","func":"\n\nmsg.payload={\n    \n  \"recipient\":{\n    \"id\":msg.payload.entry[0].messaging[0].sender.id\n  },\n  \"message\":{\n    \"text\": \"Main menu\",\n    \"quick_replies\":[\n      {   \n      \t\"content_type\": \"text\",\n            \"title\": \"My purchases\",\n            \"image_url\":\"http://example.com/img/red.png\",\n            \"payload\": \"My purchases\"\n\n        },\n        {\n            \"content_type\": \"text\",\n            \"title\": \"Shop\",\n            \"image_url\":\"http://i.piccy.info/i9/d9b1186537d1a976424577cfebfee96c/1557141369/22679/1316568/FacebookShop.png\",\n            \"payload\": \"Shop\"\n\n        },\n        {\n            \"content_type\": \"text\",\n            \"title\": \"Favorites\",\n            \"image_url\":\"http://example.com/img/red.png\",\n            \"payload\": \"Favorites\"\n\n        },\n        {\n            \"content_type\": \"text\",\n            \"title\": \"To invite a friend\",\n            \"image_url\":\"http://i.piccy.info/i9/68c4c8b21c06db7f19b0d2821e1e98ae/1557152350/733/1316568/customer.png\",\n            \"payload\": \"invite\"\n\n        }\n        \n    ]\n  }\n                };\nmsg.headers = {'content-type':'application/json'};\nreturn msg;","outputs":1,"noerr":0,"x":2001,"y":672,"wires":[["d52cef8e.dc0bc8"]]},{"id":"4acc603e.0e747","type":"switch","z":"4cae8e79.b4dc9","name":"Главное меню","property":"payload.entry[0].messaging[0].message.quick_reply.payload","propertyType":"msg","rules":[{"t":"eq","v":"Shop","vt":"str"},{"t":"eq","v":"Favorites","vt":"str"},{"t":"eq","v":"My purchases","vt":"str"},{"t":"eq","v":"invite","vt":"str"},{"t":"else"}],"checkall":"false","repair":false,"outputs":5,"x":482.0000305175781,"y":613,"wires":[["3770d082.250378","7060663b.2ac19"],["42d6df3d.ec3df"],["4714a1e3.52f35"],["d2c0feec.56e8c"],["41738b75.49e36c"]]},{"id":"42d6df3d.ec3df","type":"debug","z":"4cae8e79.b4dc9","name":"Favorites","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","x":613,"y":777,"wires":[]},{"id":"4714a1e3.52f35","type":"debug","z":"4cae8e79.b4dc9","name":"My purchases","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","x":630,"y":857,"wires":[]},{"id":"d2c0feec.56e8c","type":"debug","z":"4cae8e79.b4dc9","name":"invite","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","x":615,"y":817,"wires":[]},{"id":"a2d04d2c.cff3f","type":"http response","z":"4cae8e79.b4dc9","name":"Отправляем подтверждение успешной доставки webhook","statusCode":"200","headers":{"content-type":"application/json"},"x":313,"y":473,"wires":[]},{"id":"41738b75.49e36c","type":"switch","z":"4cae8e79.b4dc9","name":"Постоянное меню","property":"payload.entry[0].messaging[0].postback.payload","propertyType":"msg","rules":[{"t":"eq","v":"Shop","vt":"str"},{"t":"else"}],"checkall":"true","repair":false,"outputs":2,"x":1028,"y":638,"wires":[["3770d082.250378","7060663b.2ac19"],["7221b1a8.749688"]]},{"id":"3770d082.250378","type":"http request","z":"4cae8e79.b4dc9","name":"Получаем каталог с BestBuy","method":"GET","ret":"obj","paytoqs":false,"url":"https://api.bestbuy.com/v1/categories?apiKey=TGp7jkZIbKOzfRTDzkofjo2O&page=10&show=name,id&format=json","tls":"","proxy":"","authType":"basic","x":1343,"y":546,"wires":[["7060663b.2ac19"]]},{"id":"3d573001.d4b62","type":"function","z":"4cae8e79.b4dc9","name":"Формируем каталог для отправки в Messenger","func":"\nvar payload={\n  \"recipient\":{\n    \"id\":msg.payload.entry[0].messaging[0].sender.id\n  },\n \"message\": {\n    \"attachment\": {\n      \"type\": \"template\",\n      \"payload\": {\n        \"template_type\": \"generic\",\n        \"elements\": []\n      }\n    }\n      }\n};\n msg.payload.categories.forEach(function (cat) {\n        var element = {\n            \"title\": cat.name, \n         \"buttons\": [\n        {\n            \"title\": cat.name,\n            \"type\": \"postback\",\n            \"payload\": cat.id,\n            \"webview_height_ratio\": \"tall\"\n        }\n    ]\n    };\n        payload.message.attachment.payload.elements.push(element)\n        \n    });\n    msg.payload = payload;\n\n\nmsg.headers = {'content-type':'application/json'};\nreturn msg;\n\n\n","outputs":1,"noerr":0,"x":2075,"y":573,"wires":[["d52cef8e.dc0bc8"]]},{"id":"f5d51a7e.c36f7","type":"http request","z":"4cae8e79.b4dc9","name":"Получаем перечень товаров по выбранной категории","method":"GET","ret":"obj","paytoqs":false,"url":"https://api.bestbuy.com/v1/products(categoryPath.id={{{payload.entry.0.messaging.0.postback.payload}}})?apiKey=TGp7jkZIbKOzfRTDzkofjo2O&format=json","tls":"","proxy":"","authType":"basic","x":1417.766357421875,"y":990.58349609375,"wires":[["738235e4.6835fc"]]},{"id":"7221b1a8.749688","type":"switch","z":"4cae8e79.b4dc9","name":"Разделяем главное меню и выбор категории","property":"payload.entry[0].messaging[0].postback.payload","propertyType":"msg","rules":[{"t":"eq","v":"get_started","vt":"str"},{"t":"else"}],"checkall":"true","repair":false,"outputs":2,"x":1113.7665710449219,"y":714.4833374023438,"wires":[["61b0a96f.eff198"],["3e3f2f56.b0f4b8"]]},{"id":"60931f14.9a97c8","type":"function","z":"4cae8e79.b4dc9","name":"Формируемсписок товаров по выбранной категории","func":"\nvar payload={\n  \"recipient\":{\n    \"id\":msg.payload.entry[0].messaging[0].sender.id\n  },\n \"message\": {\n    \"attachment\": {\n      \"type\": \"template\",\n      \"payload\": {\n        \"template_type\": \"generic\",\n        \"elements\": []\n      }\n    }\n      }\n};\n msg.payload.products.forEach(function (prod) {\n        var element = {\n            \"title\":prod.name,\n            \"image_url\":prod.image,\n            \"subtitle\":prod.shortDescription, \n         \"buttons\": [\n        {\n                \"type\":\"postback\",\n                \"title\":\"Buy\",\n                \"payload\":prod.addToCartUrl\n        }\n    ]\n    };\n        payload.message.attachment.payload.elements.push(element)\n        \n    });\n    msg.payload = payload;\n\n\nmsg.headers = {'content-type':'application/json'};\nreturn msg;\n\n\n","outputs":1,"noerr":0,"x":2080.7666015625,"y":957.699951171875,"wires":[["d52cef8e.dc0bc8"]]},{"id":"17da62dc.693b1d","type":"switch","z":"4cae8e79.b4dc9","name":"Покупка товара","property":"payload.entry[0].messaging[0].postback.title","propertyType":"msg","rules":[{"t":"eq","v":"Buy","vt":"str"},{"t":"else"}],"checkall":"true","repair":false,"outputs":2,"x":1006.7666015625,"y":914.4832763671875,"wires":[["ccd8eb27.0bf2d8"],["f5d51a7e.c36f7","738235e4.6835fc"]]},{"id":"ccd8eb27.0bf2d8","type":"function","z":"4cae8e79.b4dc9","name":"Запрос геоданных","func":"\n\nmsg.payload={\n    \n  \"recipient\":{\n    \"id\":msg.payload.entry[0].messaging[0].sender.id\n  },\n  \"message\":{\n    \"text\": \"Your order was successfull. Please share your location for delivery\",\n    \"quick_replies\":[\n      {\n        \"content_type\":\"location\"\n      }\n    ]\n  }\n                };\nmsg.headers = {'content-type':'application/json'};\nreturn msg;","outputs":1,"noerr":0,"x":1981.7666015625,"y":838.0832824707031,"wires":[["d52cef8e.dc0bc8"]]},{"id":"3e3f2f56.b0f4b8","type":"switch","z":"4cae8e79.b4dc9","name":"Данные геолокации","property":"payload.entry[0].messaging[0].message.attachments[0].type","propertyType":"msg","rules":[{"t":"eq","v":"location","vt":"str"},{"t":"else"}],"checkall":"true","repair":false,"outputs":2,"x":1028.7666015625,"y":786.88330078125,"wires":[["43f3f149.dc09e"],["c4bc44.6fdb13c"]]},{"id":"43f3f149.dc09e","type":"function","z":"4cae8e79.b4dc9","name":"Запрос номера мобильного телефона","func":"\n\nmsg.payload={\n    \n  \"recipient\":{\n    \"id\":msg.payload.entry[0].messaging[0].sender.id\n  },\n  \"message\":{\n    \"text\": \"Send your phone number please\",\n    \"quick_replies\":[\n        {\n        \"content_type\":\"text\",\n        \"title\":\"Send number\",\n        \"payload\":\"number\",\n        \"image_url\":\"http://i.piccy.info/i9/3a8d383e911861a2c65e438af8bb2905/1557433885/1486/1316568/images.png\"\n      },\n      {\n        \"content_type\":\"user_phone_number\"\n      }\n    ]\n  }\n                };\nmsg.headers = {'content-type':'application/json'};\nreturn msg;","outputs":1,"noerr":0,"x":2034.7666320800781,"y":743.2833557128906,"wires":[["d52cef8e.dc0bc8"]]},{"id":"c4bc44.6fdb13c","type":"switch","z":"4cae8e79.b4dc9","name":"Номер телефона","property":"msg.payload.entry[0].messaging[0].message.text","propertyType":"msg","rules":[{"t":"eq","v":"Send number","vt":"str"},{"t":"cont","v":"+","vt":"str"},{"t":"else"}],"checkall":"true","repair":false,"outputs":3,"x":1016.7666015625,"y":845.0833435058594,"wires":[["5a2e88a0.cf2f1"],["5a2e88a0.cf2f1"],["17da62dc.693b1d"]]},{"id":"5a2e88a0.cf2f1","type":"function","z":"4cae8e79.b4dc9","name":"Спасибо за заказ","func":"msg.payload={\n    \n  \"recipient\":{\n    \"id\":msg.payload.entry[0].messaging[0].sender.id\n  },\n  \"message\":{\n    \"text\":\"Thank you for your order. Our courier will contact you within 2 hours.\"\n  }\n                };\nmsg.headers = {'content-type':'application/json'};\nreturn msg;","outputs":1,"noerr":0,"x":1983.7666320800781,"y":792.6833190917969,"wires":[["d52cef8e.dc0bc8"]]},{"id":"7060663b.2ac19","type":"join","z":"4cae8e79.b4dc9","name":"","mode":"custom","build":"merged","property":"payload","propertyType":"msg","key":"payload","joiner":"\\n","joinerType":"str","accumulate":false,"timeout":"1","count":"","reduceRight":false,"reduceExp":"","reduceInit":"","reduceInitType":"num","reduceFixup":"","x":1747,"y":567,"wires":[["3d573001.d4b62"]]},{"id":"738235e4.6835fc","type":"join","z":"4cae8e79.b4dc9","name":"","mode":"custom","build":"merged","property":"payload","propertyType":"msg","key":"topic","joiner":"\\n","joinerType":"str","accumulate":false,"timeout":"1","count":"","reduceRight":false,"reduceExp":"","reduceInit":"","reduceInitType":"","reduceFixup":"","x":1721,"y":958,"wires":[["60931f14.9a97c8"]]}]